@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@font-face {
  font-family: 'Auster Rounded';
  src: url('/fonts/AusterRounded-Medium.woff') format('woff'),
       url('/fonts/AusterRounded-Medium.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

.font-auster {
  font-family: 'Auster Rounded', sans-serif;
}

@layer utilities {
  .text-shadow {
    text-shadow: -3px 1.5px 0px #01193D;
  }

  .text-shadow-2 {
    text-shadow: -5px 1.5px 0px #DE9400;
  }

  .text-stroke {
    -webkit-text-stroke: 0.2px #01193D;
    -webkit-text-fill-color: currentColor; /* Or transparent for just stroke */
  }

  .text-stroke-lg {
    -webkit-text-stroke: 2px black;
    color: white;
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  scroll-behavior: smooth;
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, 'Auster Rounded', sans-serif;
}
